# Deployed FlightDelayVault Intelligent Contract address (GenLayer StudioNet)
VITE_CONTRACT_ADDRESS="0x4c478A2137DB044508196eD7DEfa4B574a0145f1"
VITE_GENLAYER_RPC_URL="https://studio.genlayer.com/api"
